@charset "UTF-8";

// --------------------------------
// コンテンツ
// --------------------------------

html {
	font-size: 62.5%;
}

body {
	margin: 0;
}

*:focus {
	outline: none;
}

.page {
	@include jaFont;
	background-color: #fff;
	color: #333;
	font-family: Hiragino Kaku Gothic ProN;

	// --------------------------------
	// common
	// --------------------------------
	img {
		width: 100%;
		height: auto;
	}

	.pc {
		display: block;

		@include mq {
			display: none;
		}
	}

	.sp {
		display: none;

		@include mq {
			display: block;
		}
	}

	.sct-wrap {
		padding-bottom: 80px;

		@include mq {
			padding-bottom: vw(96);
		}

		&--last {
			padding-bottom: 120px;

			@include mq {
				padding-bottom: vw(120);
			}
		}
	}

	.sct-inr {
		width: 980px;
		height: auto;
		margin: -150px auto 0;
		padding-top: 150px;

		@include mq {
			width: 100%;
			margin-top: vw(0);
			padding-top: vw(0);
		}
	}

	// --------------------------------
	// /common
	// --------------------------------
	// --------------------------------
	// kv
	// --------------------------------
	.kv {
		display: block;
		width: 100%;
		height: 500px;
		margin-bottom: 70px;
		background: url("../image/kv-pc.png"), #985A33;
		background-size: auto;
		background-position: top center;
		background-repeat: no-repeat;

		@include mq {
			background-size: cover;
			height: vw(977);
			margin-bottom: vw(100);
			background-image: url("../image/youknow-kv-sp.png");
		}

		span {
			display: none;
		}
	}

	// --------------------------------
	// /kv
	// --------------------------------
	// --------------------------------
	// intro
	// --------------------------------
	.intro {
		margin-bottom: 74px;
		font-size: 21px;
		text-align: center;
		line-height: 38px;
		letter-spacing: 0;
		font-family: ヒラギノ角ゴ ProN W3;

		@include mq {
			margin-bottom: vw(95);
			font-size: vw(30);
			line-height: vw(54);
		}

		span {
			color: #F26C0D;
			font-weight: 700;
			vertical-align: top;
			font-family: Hiragino Kaku Gothic ProN;
		}
	}

	// --------------------------------
	// /intro
	// --------------------------------
	// --------------------------------
	// nav
	// --------------------------------
	.nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 980px;
		height: auto;
		margin: 0 auto;

		@include mq {
			display: block;
			width: vw(688);
		}

		&__list {
			position: relative;
			width: 31.6%;
			text-align: center;
			border: 1px solid #985A33;
			margin: 0 25px 25px 0;

			&:nth-child(n+4) {
				margin-bottom: 0;
			}

			&:nth-child(3n+3) {
				margin-right: 0;
			}

			@include mq {
				width: 100%;
				height: vw(137);
				margin-bottom: vw(24);

				&:nth-child(n+4) {
					margin-bottom: vw(24);
				}

				&:nth-child(5) {
					margin-bottom: 0;
				}
			}

			a {
				padding: 20px 0 42px 0;

				@include mq {
					padding: vw(34 0 34 0);
				}
			}

			&::after {
				position: absolute;
				bottom: 20px;
				left: 50%;
				width: 10px;
				height: 10px;
				border-right: solid 2px #985A33;
				border-bottom: solid 2px #985A33;
				transform: rotate(45deg) translateX(-50%);
				content: "";
				pointer-events: none;

				@include mq {
					top: 50%;
					right: vw(40);
					bottom: auto;
					left: auto;
					border-right: solid vw(2px) #985A33;
					border-bottom: solid vw(2px) #985A33;
					width: vw(20);
					height: vw(20);
					transform: rotate(45deg) translateY(-50%);
				}
			}

			&:hover {
				opacity: 0.9;
			}
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
		}

		&__txt {
			margin-bottom: 5px;
			color: #985A33;
			font-size: 13px;
			line-height: 13px;

			@include mq {
				margin-bottom: 0;
				font-size: vw(21);
				line-height: vw(28);
			}
		}

		&__products {
			color: #985A33;
			font-size: 21px;
			font-weight: 700;
			line-height: 32px;

			@include mq {
				font-size: vw(30);
				line-height: vw(45);
			}
		}
	}

	// --------------------------------
	// /nav
	// --------------------------------
	// --------------------------------
	// solution
	// --------------------------------
	.solution {
		&__subheading {
			margin-bottom: 30px;
			font-size: 20px;
			line-height: 1.6;
			text-align: center;

			@include mq {
				margin-bottom: vw(30);
				font-size: vw(34);
			}
		}

		&__heading {
			width: 350px;
			margin: 0 auto 32px;

			@include mq {
				width: vw(437);
				margin: vw(0 auto 40);
			}
		}

		&__img {
			width: 980px;
			margin: 0px auto 35px;

			@include mq {
				width: 100%;
				margin: vw(0 auto 55);
			}
		}

		&__lead {
			font-size: 36px;
			margin-bottom: 20px;
			line-height: 54px;
			text-align: center;
			color: #F26C0D;

			@include mq {
				font-size: vw(40);
				line-height: vw(60);
				margin-bottom: vw(41);

			}
		}

		&__text {
			text-align: center;
			font-size: 16px;
			line-height: 24px;
			color: #333333;


			@include mq {
				text-align: left;
				font-size: vw(26);
				line-height: vw(39);
				width: vw(688);
				margin: auto;
			}
		}

		&__icon {
			width: auto;
			font-size: 13px;
			line-height: 1.2;
			margin: 20px 0;
			display: flex;
			align-items: center;
			justify-content: center;

			@include mq {
				width: 70%;
				font-size: vw(26);
				margin: vw(30 auto);
			}

			.icon_img {
				width: 60px;
				margin-right: 24px;

				@include mq {
					width: 30%;
					margin-right: vw(40);
					height: vw(111);
					width: vw(90);
				}
			}

			.icon_txt {
				width: auto;
				line-height: 20px;
				font-family: ヒラギノ角ゴ ProN W3;

				@include mq {
					width: 69%;
					font-size: vw(21);
					line-height: vw(32);
				}
			}
		}

		&__icon.icon_center {
			margin: 30px auto;

			@include mq {
				margin: vw(56 auto);
			}
		}

		&__btn {
			display: block;
			position: relative;
			width: 440px;
			margin: 0 auto;
			border-radius: 5px;
			font-size: 14px;
			font-weight: 400;
			text-align: center;
			line-height: 46px;
			font-family: Noto Sans JP;

			@include mq {
				width: vw(688);
				font-size: vw(22);
				line-height: vw(81);
			}

			&::after {
				position: absolute;
				top: 0;
				right: 21px;
				bottom: 0;
				width: 6px;
				height: 6px;
				margin: auto;
				transform: rotate(45deg);
				content: "";

				@include mq {
					top: 0;
					right: vw(33);
					bottom: 0;
					width: vw(13);
					height: vw(13);
				}
			}

			&:hover {
				color: #fff;

				&::after {
					border-top: solid 2px #fff;
					border-right: solid 2px #fff;
				}
			}

			&--brown {
				border: solid 1px #985A33;
				color: #985A33;

				&::after {
					border-top: solid 2px #985A33;
					border-right: solid 2px #985A33;
				}

				&:hover {
					background: #985A33;
				}
			}
		}

		&__func {
			width: 980px;
			margin: 60px auto 40px;
			padding: 39px 40px 39px 40px;
			background: #F7E7CD;

			@include mq() {
				width: vw(688);
				margin: vw(56 auto 0);
				padding: vw(44 51 56 51)
			}

			ul {
				display: flex;
				justify-content: space-between;

				@include mq() {
					display: block;
				}

				li {
					@include mq() {
						margin: vw(56 0 0 0);

						&:first-child {
							margin-top: 0;
						}
					}
				}
			}

			&--1 {
				ul {
					display: block;
					justify-content: space-between;

					li {
						width: 456px;
						margin: auto;

						@include mq() {
							width: 100%;
						}
					}
				}
			}

			&--2 {
				li {
					width: 47.78%;

					@include mq() {
						width: 100%;
					}

					.solution__func__desc {
						text-align: left;

						p {
							margin-bottom: 20px;

							@include mq() {
								margin-bottom: vw(32);
							}
						}
					}
				}

			}

			&--3 {

				@include mq() {
					padding: vw(44 56 56 56)
				}

				ul {
					@include mq() {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
					}

					li {
						width: 28.56%;

						@include mq() {
							width: vw(260);

							&:nth-child(2) {
								margin-top: 0;
							}
						}
					}
				}

				.solution__func__desc {
					img {
						width: 203px;
						height: 140px;

						@include mq() {
							width: vw(203);
							height: vw(140);
						}
					}

					p {
						@include mq() {
							margin-bottom: 0;
						}
					}
				}

			}

			&__tit {
				text-align: center;

				h4 {
					color: #F26C0D;
					font-size: 21px;
					margin: 0 0 20px;

					@include mq() {
						font-size: vw(32);
						line-height: vw(48);
						margin: vw(0);
					}
				}

				p {
					font-size: 20px;
					line-height: 1.5;

					@include mq() {
						font-size: vw(34);

					}
				}
			}

			&__desc {
				text-align: center;

				@include mq() {
					margin: vw(30 0 0);
				}

				p {
					margin: 16px 0 0;
					font-size: 16px;

					@include mq() {
						font-size: vw(26);
						line-height: vw(39);
						margin: vw(32 0);
						text-align: left;
					}
				}

				span {
					font-size: 16px;

					@include mq() {
						font-size: vw(21);
						line-height: vw(32);
					}
				}
			}
		}
	}

	.solution-flex {
		display: flex;
		align-items: center;
		width: 980px;
		height: auto;
		margin: 0 auto;

		@include mq {
			display: block;
			width: vw(688);
		}

		&--reverse {
			flex-direction: row-reverse;

			@include mq {
				display: block;
			}
		}

		&__img {
			width: 560px;
			height: auto;

			@include mq {
				width: vw(688);
				margin-bottom: vw(34);
			}
		}

		&__txtarea {
			margin-left: -70px;

			@include mq {
				margin: 0;
			}

			&--left {
				margin-left: auto;
				margin-right: -70px;

				@include mq {
					margin: 0;
				}
			}
		}

		&__heading {
			margin-bottom: 20px;
			font-size: 30px;
			font-weight: 700;

			@include mq {
				margin-bottom: vw(30);
				font-size: vw(44);
				text-align: center;
			}

			&--lightblue {
				color: #6BAFE0;
			}

			&--blue {
				color: #538DD1;
			}
		}

		&__lead {
			font-size: 26px;
			line-height: 1.6;

			@include mq {
				font-size: vw(40);
				text-align: center;
			}
		}
	}

	.main {
		@include mq() {
			width: vw(688);
			margin: auto;
		}
	}

	.slider {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 23px;

		@include mq {
			margin: vw(56 auto);
			flex-wrap: nowrap;
			overflow-y: hidden;
			display: -webkit-box;
			-ms-overflow-style: none;
			/* Internet Explorer 10+ */
			scrollbar-width: none;
			-webkit-box-pack: start;

			/* Firefox */
			&::-webkit-scrollbar {
				display: none;
				/* Safari and Chrome */
			}

		}

		li {
			width: 230px;
			height: auto;
			margin-right: 20px;


			@include mq {
				width: 100%;
				max-width: vw(488);
				margin-right: 0;
				margin: vw(0 56);
				margin-left: 0;
				margin-top: 0 !important;
			}

			&:nth-last-of-type(1),
			&:nth-last-of-type(2),
			&:nth-last-of-type(3),
			&:nth-last-of-type(4) {
				margin-bottom: 0;
			}

			&:nth-of-type(4n) {
				margin-right: 0;
			}



			.ajax_area>.preset_price_area {
				font-family: "Hiragino Kaku Gothic ProN";
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 3px;
				text-align: center;

				@include mq {
					font-size: 3.125vw;
					line-height: 4.6875vw;
					margin-bottom: 2.604166666666667vw;
				}
			}


			.ajax_area>.stock_exist {
				width: 190px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				height: 36px;
				margin-right: auto;
				margin-left: auto;
				text-align: left;
				padding: 0.7rem;
				margin-bottom: 10px;
				color: #333333;
				font-family: "Noto Sans JP";
				font-size: 14px;

				span {
					color: #333333;
					font-family: "Noto Sans JP";
					font-size: 14px;
				}

				@include mq {
					width: vw(368);
					height: vw(70);
					padding: 2vw;
					line-height: vw(85);
					font-size: vw(24);
					margin-bottom: vw(20);

					&::before {
						border: 1.651vw solid transparent;
						border-bottom: 1.651vw solid #444;
					}

					&::after {
						border: 1.651vw solid transparent;
						border-top: 1.651vw solid #444;
					}
				}
			}



			.ajax_area>a.cartinbtn {
				width: 190px;
				height: 36px;
				background: #985A33;
				margin: auto;
				padding: 0.7rem;
				cursor: pointer;
				font-family: 'Noto Sans JP';
				font-size: 14px;
				align-items: center;
				display: flex;
				justify-content: center;
				border-radius: 5px;

				&:hover {
					opacity: 0.7;
					transition: all ease 0.2s;
					cursor: pointer;
				}

				@include mq {
					width: vw(368);
					height: vw(70);
					padding: 3vw 0;
					font-size: vw(26);
					line-height: vw(85);
					border-radius: vw(5);
					background: #985A33;
				}
			}


		}

		&__products {
			font-size: 16px;
			font-weight: 400;
			text-align: center;
			font-family: Hiragino Kaku Gothic ProN;

			@include mq {
				font-size: vw(28);
				line-height: vw(42);
			}
		}
	}

	.lineup__content__list__box {
		margin-bottom: 40px;

		@include mq {
			margin-bottom: vw(40);
		}

		a {
			display: block;
			// margin-bottom: 17px;
			margin-bottom: 7px;

			@include mq {
				// width: vw(252);
				width: 100%;
				// margin: 0 auto;
				margin-bottom: vw(17);
			}
		}
	}

	.slide-arrow {
		position: absolute;
		top: vw(195);
		z-index: 50;
		width: vw(14);
		height: vw(28);

		&.prev-arrow {
			left: 0;
		}

		&.next-arrow {
			right: 0;
		}
	}

	.reservation {
		.btn {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 100%;
			margin: 0 auto;
			padding-top: 3px;
			border-radius: 5px;
			color: #985A33;
			font-size: 14px;
			font-weight: 400;
			font-family: Noto Sans JP;
			text-align: center;
			line-height: 46px;

			&::before {
				content: '';
				width: 23px;
				height: 14px;
				margin-right: 4px;
				display: block;
				background-image: url('../image/hanger_icon.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;

				@include mq() {
					width: vw(44);
					height: vw(26);
					margin-right: vw(8);
				}
			}

			@include mq {
				padding: vw(32 0 0);
				margin: vw(0 auto 0);
				font-size: vw(26);
			}

		}

		.arrow_right {
			position: absolute;
			top: 43%;
			right: 6%;
			transform: translateY(-50%);

			&::after {
				content: "";
				display: inline-block;
				width: 0.5em;
				height: 0.5em;
				border: 1px solid;
				border-color: #fff #fff transparent transparent;
				transform: rotate(45deg);
			}
		}
	}

	// --------------------------------
	// /solution
	// --------------------------------
	// --------------------------------
	// bnr
	// --------------------------------
	.bnr {
		padding-bottom: 65px;

		@include mq {
			padding-bottom: vw(85);
		}

		a {
			display: block;
			width: 688px;
			height: auto;
			margin: 0 auto 40px;

			@include mq {
				width: vw(688);
				margin: vw(0 auto 40);
			}

			&:last-of-type {
				margin: 0 auto;
			}
		}
	}

	// --------------------------------
	// /bnr
	// --------------------------------
}